@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --black: #1C1C1C;
    --orange: #FF7F50;
}

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: var(--orange);
    color: var(--black);
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0050b1;
    padding: 64px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil-foto {
    border-radius: 460px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.tema button {
    position: relative;
    left: 330px;
    align-self: flex-end;
    font-size: 16px;
    padding: 8px 16px;
    background: #9e9e9e;
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid #0E1D2F;
}

.portfolio {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.projetos {
    display: flex;
    flex-direction: column;
}

.projetos ul {
    list-style: none;
    padding-left: 0;
    font-weight: 700;
    font-size: 24px;
}

.projetos li {
    list-style-type: none;
    font-size: 20px;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: #fff;
}

.dark {
    background: linear-gradient(220deg, #1a1919, #2103d1);
}

.dark .container {
    background-image: linear-gradient(220deg, #1C1C1C, #3d3d3d);
    color: var(--orange);
}

.dark .portfolio {
    color: var(--black);
}

.dark .tema button {
    color: var(--orange);
    background: var(--black);
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid var(--orange);
}

hr{
    border: 1px solid var(--black);
}
.footerFake{
    display: flex;
    justify-content: center;
}

@media (max-width:1200px){
    .tema button {
        left: 165px;
    }
}
@media (max-width:1024px){
    .tema button {
        left: 100px;
    }
}